.card {
    z-index: 0;
    overflow: hidden;
  }
  
  .card_heading {
    padding: 1rem;
    position: relative;
  }
  
  .blob {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition: transform .3s;
  }
  
  .card:hover .blob {
    transform: scale(1.3);
  }