@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 220 90% 56%; /* Adjusted for blue */
    --track: 220 60% 90%; /* Light blue for track */
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 220 80% 50%;
    --track: 220 40% 20%; /* Darker blue for track in dark mode */
  }

  /* Global Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--track));
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: var(--radius);
  }

  ::-webkit-scrollbar-corner {
    background: hsl(var(--track));
  }
}
